<h2>Add a new recipe</h2>
<form method="post" action="/new">
  <p>Name:  <input type="text" name="name"></p>
  <p>User:  <input type="text" name="user"></p>
  <p>Recipe URL:  <input type="url" name="url"></p>
  <p>Description: </3>
  <p><textarea name="description" cols=70 rows=5></textarea></p>
  <input type="submit">
</form>