<h2>Add a new recipe</h2>
<form method="post" action="/new">
  <p>Name:</p>
  <input type="text" name="name">
  <p>User:</p><input type="text" name="user">
  <p>Recipe URL:</p><input type="url" name="url">
  <p>Description:</p>
  <p><textarea name="description" cols=70 rows=5></textarea></p>
  <input type="submit">
</form>