<h2>Post your comment</h2>
<form method="post" action="/new_comment">
  <h3>User: <input type="text" name="user"></h2>
  <h3>Comment:</3>
  <p><textarea name="description" cols=40 rows=5></textarea></p>
  <input type="submit">
</form>